<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    </head>
    <body>
        <div id="root">

            <div id="wrapper">

                <div class="navbar">
                    <input class="search-input" type="text" name="" value="">
                </div>

                <div class="movie-zone">
                    <div class="card-container">

                        <div v-for="(item,index) in movie" class="card">
                            <h3>{{item.title}}</h3>
                            <p>{{item.original_title}}</p>
                            <div v-if="item.original_language == 'en'" class="language">
                                <img src="img/bandiera-inghilterra.png" alt="">
                            </div>
                            <div v-if="item.original_language == 'it'" class="language">
                                <img src="img/bandiera-italia.png" alt="">
                            </div>
                            <div v-if="item.original_language == 'fr'" class="language">
                                <img src="img/bandiera-francia.svg" alt="">
                            </div>
                            <div v-if="item.original_language == 'de'" class="language">
                                <img src="img/bandiera-germania.jpg" alt="">
                            </div>
                            <div class="language">
                                <p>{{item.original_language}}</p>
                            </div>
                            <div class="stars">
                                <small v-if="calcolaStars(index) == 0 ">NaN</small>
                                <i v-for="item in calcolaStars(index)" class="fas fa-star"></i>
                                <i v-for="item in (5 - calcolaStars(index))" class="far fa-star"></i>
                            </div>
                    </div>
                </div>

            </div>

        </div>
        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
