* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 8vh;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-input {
    height: 30px;
    border: 1px solid orange;
    align-self: flex-end;
    margin-right: 10%;
}

.movie-zone {
    height: 92vh;
    background-color: black;
    overflow: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 162px;
    height: 260px;
    border-radius: 6px;
    background-color: #212121;
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card h3 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px;
}

.card p {
    text-align: center;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px;
}

.language {
    width: 35px;
    height: 21px;
    margin: 0 auto;
}

.language img {
    width: 100%;
}

.card:hover {
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    transform: scale(1.06);
    transition: 0.3s;
    background-color: #282828;

}
