* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

.navbar {
    height: 70px;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-input {
    height: 30px;
    width: 250px;
    border: 4px solid darkorange;
    align-self: flex-end;
    margin-right: 10%;
}

.movie-zone {
    height: calc(100vh - 70px);
    background-color: black;
    overflow: auto;
}

.movie-zone h3 {
    color: white;
    padding: 40px;
    text-align: center;
    letter-spacing: 1px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px
}

.notResults {
    margin: 0 auto;
    font-size: 20px;
    margin-top: 15%;
}

.card-container p {
    color: white;
}

.card {
    width: 185px;
    height: 340px;
    border-radius: 6px;
    background-color: #212121;
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-forward, .card-behind {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-forward {
    height: 100%;
}

.card-forward img {
    height: 100%;
    width: 100%;
}

.card-behind {
    transform: rotateY(180deg);
}

.card h3 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px;
    height: 20%;
}

.card p {
    text-align: center;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    height: 20%;
}

.language {
    width: 35px;
    height: 70px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
}

.language img {
    width: 100%;
}

.stars {
    text-align: center;
    height: 20%;
}

.stars p {
    display: block;
    font-weight: bold;
    color: gray;
}

.stars .fas {
    color: gold;
}

.stars .far {
    color: white;
    transform: translateX(-4px);
}
